/* changes the background color of body */
#title {
    /*width: 60%;*/
    border-style: solid;
    font-family: cursive;
    color: blue;
}

.container {
    border: solid;
    display: flex;
    flex-direction: row;
}

.headerbuttons {
    background-color: blue;
    color: white;
    padding: 13px;
    font-size: 16px;
    min-width: 20%; 
    border: none;
    cursor: pointer;
}

#createheader {
    margin-left: auto;
}

#genreheader {
    margin-right: auto;
}

#title {
    text-align: center;
}
